* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header,
  main,
  footer {
    margin: 0 auto;
    max-width: 760px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: #ffc14d;
    text-align: center;
    border-radius: 10px;

  }
  h3 {
    margin: 0.5rem;
  }
  
  li {
    margin: 0.5rem;
    list-style-type: none;
  }
  
  p {
    margin: 1rem;
  }


  header,
  footer {
    background-color: rgb(230, 150, 2);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px #777;
  }
  
  header {
    display: grid;
    grid-template-columns:auto 1fr;
    align-items: center;
    justify-items: center;
    padding: 1.2rem;
    margin: 1rem auto;
  }
  
  footer {
    padding: 1.2rem;
    margin: 1rem auto;
    text-align: center;
  }
  
  picture {
    margin: 0;
    padding: 0;
  }
  
  img {
    border-radius: 10px;
  
  }
  
  main {
    padding: 1rem;
   
  }
  

.social-media {

  margin-left: 0.5rem;
  border-radius: 35px;
  }

/* .social-images {
  margin: 1rem;
} */


img {
  max-width: 100%;
  }

a {
 
  text-decoration: none;
}

.melLink {
  color: white;
  text-decoration-line: none;
}


.prog_logos {
  float: left;
  margin-right: 0.5rem;
}

.social-contact {
  display: flex;
  
}